{{ if .Values.tokengenJob.enable }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "enterprise-logs.fullname" . }}-tokengen
  labels:
    app: {{ template "enterprise-logs.name" . }}-tokengen
    chart: {{ template "enterprise-logs.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    {{- if .Values.tokengenJob.annotations }}
    {{- toYaml .Values.tokengenJob.annotations | nindent 4 }}
    {{- end }}
    "helm.sh/hook": post-install
spec:
  backoffLimit: 6
  completions: 1
  parallelism: 1
  selector:
  template:
    metadata:
      labels:
        app: {{ template "enterprise-logs.name" . }}-tokengen
        name: tokengen
        target: tokengen
        release: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ template "enterprise-logs.serviceAccountName" . }}
      {{- if .Values.tokengenJob.priorityClassName }}
      priorityClassName: {{ .Values.tokengenJob.priorityClassName }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.tokengenJob.securityContext | nindent 8 }}
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
      {{- range .Values.image.pullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ template "enterprise-logs.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - -config.file=/etc/loki/config/config.yaml
            - -target=tokengen
            {{- if .Values.minio.enabled }}
            - -admin.client.backend-type=s3
            - -admin.client.s3.endpoint={{ .Release.Name }}-minio.{{ .Release.Namespace }}.svc:9000
            - -admin.client.s3.bucket-name=enterprise-logs-admin
            - -admin.client.s3.access-key-id=enterprise-logs
            - -admin.client.s3.secret-access-key=supersecret
            - -admin.client.s3.insecure=true
            {{- end }}
            {{- range $key, $value := .Values.tokengenJob.extraArgs }}
            - "-{{ $key }}={{ $value }}"
            {{- end }}
          volumeMounts:
            {{- if .Values.tokengenJob.extraVolumeMounts }}
              {{ toYaml .Values.tokengenJob.extraVolumeMounts | nindent 12 }}
            {{- end }}
            - name: config
              mountPath: /etc/loki/config
            - name: license
              mountPath: /etc/enterprise-logs/license
          env:
            {{- if .Values.tokengenJob.env }}
              {{ toYaml .Values.tokengenJob.env | nindent 12 }}
            {{- end }}
      restartPolicy: OnFailure
      volumes:
        - name: config
          secret:
          {{- if .Values.useExternalConfig }}
            secretName: {{ .Values.externalConfigSecretName }}
          {{- else }}
            secretName: {{ template "enterprise-logs.fullname" . }}
          {{- end }}
        {{- if .Values.tokengenJob.extraVolumes }}
        {{ toYaml .Values.tokengenJob.extraVolumes | nindent 8 }}
        {{- end }}
        - name: license
          secret:
            secretName: {{ .Values.license.secretName }}
        - name: storage
          emptyDir: {}
{{- end }}
