{{- if and .Values.queryFrontend.enabled (gt (int .Values.queryFrontend.replicas) 1) }}
apiVersion: {{ include "loki.pdb.apiVersion" . }}
kind: PodDisruptionBudget
metadata:
  name: {{ include "loki.queryFrontendFullname" . }}
  labels:
    {{- include "loki.queryFrontendLabels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "loki.queryFrontendSelectorLabels" . | nindent 6 }}
  {{- with .Values.queryFrontend.maxUnavailable }}
  maxUnavailable: {{ . }}
  {{- end }}
{{- end }}
