apiVersion: v1
kind: Service
metadata:
  labels:
    app: enterprise-metrics-compactor
    app.kubernetes.io/managed-by: Helmraiser
    chart: enterprise-metrics-1.5.4
    heritage: Helm
    release: enterprise-metrics
  name: enterprise-metrics-compactor
  namespace: enterprise-metrics
spec:
  ports:
  - name: http-metrics
    port: 8080
    protocol: TCP
    targetPort: http-metrics
  - name: grpc
    port: 9095
    protocol: TCP
    targetPort: grpc
  selector:
    app: enterprise-metrics-compactor
    release: enterprise-metrics
  type: ClusterIP
