{{- if not .Values.indexGateway.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "loki.querierFullname" . }}-headless
  labels:
    {{- include "loki.querierSelectorLabels" . | nindent 4 }}
    prometheus.io/service-monitor: "false"
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: http
      port: 3100
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 9095
      targetPort: grpc
      protocol: TCP
  selector:
    {{- include "loki.querierSelectorLabels" . | nindent 4 }}
{{- end }}
