apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "tempo.queryFrontendFullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tempo.labels" . | nindent 4 }}
  {{- with .Values.queryFrontend.annotations }}
  annotations:
    {{ toYaml . | indent 4 }}
  {{- end }}
spec:
  minReadySeconds: 10
  replicas: {{ .Values.queryFrontend.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      {{- include "tempo.queryFrontendSelectorLabels" . | nindent 6 }}
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    metadata:
      labels:
        {{- include "tempo.queryFrontendLabels" . | nindent 8 }}
        {{- include "tempo.gossipRing.selectorLabels" . | nindent 8 }}
        {{- with .Values.tempo.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.queryFrontend.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap-tempo.yaml") . | sha256sum }}
        {{- with .Values.tempo.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.queryFrontend.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "tempo.serviceAccountName" . }}
      containers:
        - args:
            - -target=query-frontend
            - -config.file=/conf/tempo.yaml
            - -mem-ballast-size-mbs=1024
            {{- with .Values.queryFrontend.extraArgs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          image: {{ include "tempo.queryFrontendImage" . }}
          imagePullPolicy: {{ .Values.tempo.image.pullPolicy }}
          name: query-frontend
          ports:
            - containerPort: 3100
              name: http
            - containerPort: 9095
              name: grpc
          {{- with .Values.queryFrontend.extraEnv }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.queryFrontend.extraEnvFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.queryFrontend.resources | nindent 12 }}
          {{- with .Values.tempo.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: /conf
              name: tempo-conf
            {{- with .Values.queryFrontend.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
        {{- if .Values.queryFrontend.query.enabled }}
        - args:
            - --query.base-path=/
            - --grpc-storage-plugin.configuration-file=/conf/tempo-query.yaml
            - --query.bearer-token-propagation=true
            {{- with .Values.queryFrontend.query.extraArgs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          image: {{ include "tempo.queryImage" . }}
          imagePullPolicy: {{ .Values.tempo.image.pullPolicy }}
          name: tempo-query
          ports:
            - containerPort: 16686
              name: jaeger-ui
            - containerPort: 16687
              name: jaeger-metrics
          {{- with .Values.queryFrontend.query.extraEnv }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.queryFrontend.query.extraEnvFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.queryFrontend.query.resources | nindent 12 }}
          {{- with .Values.tempo.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: /conf
              name: tempo-conf
            {{- with .Values.queryFrontend.query.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      {{- end}}
      terminationGracePeriodSeconds: {{ .Values.queryFrontend.terminationGracePeriodSeconds }}
      {{- with .Values.queryFrontend.affinity }}
      affinity:
        {{- tpl . $ | nindent 8 }}
      {{- end }}
      {{- with .Values.queryFrontend.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.queryFrontend.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - configMap:
            name: {{ template "tempo.fullname" . }}
          name: tempo-conf
        {{- with .Values.queryFrontend.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
