apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: enterprise-metrics-overrides-exporter
    app.kubernetes.io/managed-by: Helmraiser
    chart: enterprise-metrics-1.5.2
    heritage: Helm
    release: enterprise-metrics
  name: enterprise-metrics-overrides-exporter
  namespace: enterprise-metrics
spec:
  replicas: 1
  selector:
    matchLabels:
      app: enterprise-metrics-overrides-exporter
      release: enterprise-metrics
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      annotations:
        checksum/config: 8085fa0d6f8d4ddd98927fa2add048be11fa43fa868eddd4078f33953aeda9dc
      labels:
        app: enterprise-metrics-overrides-exporter
        gossip_ring_member: "true"
        name: overrides-exporter
        release: enterprise-metrics
        target: overrides-exporter
    spec:
      affinity: {}
      containers:
      - args:
        - -target=overrides-exporter
        - -config.file=/etc/enterprise-metrics/enterprise-metrics.yaml
        env: null
        image: grafana/metrics-enterprise:v1.5.0
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /ready
            port: http-metrics
          initialDelaySeconds: 45
        name: enterprise-metrics
        ports:
        - containerPort: 8080
          name: http-metrics
          protocol: TCP
        - containerPort: 9095
          name: grpc
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /ready
            port: http-metrics
          initialDelaySeconds: 45
        resources:
          limits:
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 128Mi
        securityContext:
          readOnlyRootFilesystem: true
        volumeMounts:
        - mountPath: /etc/enterprise-metrics
          name: config
        - mountPath: /var/enterprise-metrics
          name: runtime-config
        - mountPath: /license
          name: license
        - mountPath: /data
          name: storage
          subPath: null
      nodeSelector: {}
      securityContext: {}
      serviceAccountName: enterprise-metrics
      terminationGracePeriodSeconds: 60
      tolerations: []
      volumes:
      - name: config
        secret:
          secretName: enterprise-metrics
      - configMap:
          name: enterprise-metrics-runtime
        name: runtime-config
      - name: license
        secret:
          secretName: enterprise-metrics-license
      - emptyDir: {}
        name: storage
