apiVersion: v1
kind: Service
metadata:
  labels:
    app: enterprise-metrics-alertmanager
    app.kubernetes.io/managed-by: Helmraiser
    chart: enterprise-metrics-1.4.0
    heritage: Helm
    release: enterprise-metrics
  name: enterprise-metrics-alertmanager-headless
  namespace: enterprise-metrics
spec:
  clusterIP: None
  ports:
  - name: http-metrics
    port: 8080
    protocol: TCP
  - name: grpc
    port: 9095
    protocol: TCP
    targetPort: grpc
  - name: cluster
    port: 9094
    protocol: TCP
  publishNotReadyAddresses: true
  selector:
    app: enterprise-metrics-alertmanager
    release: enterprise-metrics
  type: ClusterIP
