apiVersion: v1
kind: Service
metadata:
  name: {{ template "enterprise-logs.gatewayFullname" . }}
  labels:
    {{- with .Values.gateway.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- with .Values.gateway.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.gateway.service.type }}
  ports:
    - name: http-metrics
      port: 3100
      protocol: TCP
      targetPort: http-metrics
  selector:
    {{- include "enterprise-logs.gatewaySelectorLabels" . | nindent 4 }}
