{{- if and .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
metadata:
  name: {{ include "pdc-agent.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- range $key, $value := . }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
  labels:
      {{- include "pdc-agent.labels" | nindent 4 }}
      {{- with .Values.serviceAccount.labels }}
        {{- toYaml . | nindent 4 }}
      {{- end }}
{{- end }}