apiVersion: v2
version: 1.10.0
appVersion: v1.7.0
deprecated: true
description: "DEPRECATED Grafana Enterprise Metrics"
engine: gotpl
home: https://grafana.com/products/enterprise/metrics
icon: https://grafana.com/static/img/menu/metrics-enterprise.svg
kubeVersion: ^1.10.0-0
name: enterprise-metrics
dependencies:
  - name: memcached
    alias: memcached
    version: 6.1.11
    repository: https://charts.bitnami.com/bitnami
    condition: memcached.enabled
  - name: memcached
    alias: memcached-queries
    version: 6.1.11
    repository: https://charts.bitnami.com/bitnami
    condition: memcached-queries.enabled
  - name: memcached
    alias: memcached-metadata
    version: 6.1.11
    repository: https://charts.bitnami.com/bitnami
    condition: memcached-metadata.enabled
  - name: minio
    alias: minio
    version: 8.0.9
    repository: https://helm.min.io/
    condition: minio.enabled
