apiVersion: v1
kind: Service
metadata:
  name: {{ include "cloudcost-exporter.fullname" . }}
  labels:
    {{- include "cloudcost-exporter.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.portName }}
      protocol: {{ .Values.service.protocol }}
      name: http
  selector:
    {{- include "cloudcost-exporter.selectorLabels" . | nindent 4 }}
