{{- with .Values.basicAuth }}
{{- if and .enabled (not .existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "loki-canary.fullname" $ }}
  namespace: {{ include "loki-canary.namespaceName" $ }}
  labels:
    {{- include "loki-canary.labels" $ | nindent 4 }}
stringData:
  username: {{ .username }}
  password: {{ .password }}
{{- end }}
{{- end }}
