apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: enterprise-metrics-querier
    app.kubernetes.io/managed-by: Helmraiser
    chart: enterprise-metrics-1.2.0
    heritage: Helm
    release: enterprise-metrics
  name: enterprise-metrics-querier
  namespace: enterprise-metrics
spec:
  replicas: 2
  selector:
    matchLabels:
      app: enterprise-metrics-querier
      release: enterprise-metrics
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      annotations:
        checksum/config: 9c2d760abd200c4e37d12544ca2e11926e4112c7cc4ba57a3fceeeb1c4118081
      labels:
        app: enterprise-metrics-querier
        gossip_ring_member: "true"
        name: querier
        release: enterprise-metrics
        target: querier
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: target
                  operator: In
                  values:
                  - querier
              topologyKey: kubernetes.io/hostname
            weight: 100
      containers:
      - args:
        - -target=querier
        - -config.file=/etc/enterprise-metrics/enterprise-metrics.yaml
        - '-querier.frontend-address=enterprise-metrics-query-frontend-headless.enterprise-metrics.svc:'
        - -memberlist.join=enterprise-metrics-gossip-ring
        - -blocks-storage.bucket-store.metadata-cache.backend=memcached
        - -blocks-storage.bucket-store.metadata-cache.memcached.addresses=dns+enterprise-metrics-memcached-metadata.enterprise-metrics.svc:11211
        - -blocks-storage.bucket-store.metadata-cache.memcached.max-item-size=1048576
        - -querier.store-gateway-addresses=dns+enterprise-metrics-store-gateway-headless.enterprise-metrics.svc:9095
        env: null
        image: grafana/metrics-enterprise:v1.2.0
        imagePullPolicy: IfNotPresent
        livenessProbe:
          httpGet:
            path: /ready
            port: http-metrics
          initialDelaySeconds: 45
        name: enterprise-metrics
        ports:
        - containerPort: 8080
          name: http-metrics
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /ready
            port: http-metrics
          initialDelaySeconds: 45
        resources:
          limits:
            memory: 24Gi
          requests:
            cpu: 1
            memory: 12Gi
        securityContext:
          readOnlyRootFilesystem: true
        volumeMounts:
        - mountPath: /etc/enterprise-metrics
          name: config
        - mountPath: /var/enterprise-metrics
          name: runtime-config
        - mountPath: /license
          name: license
        - mountPath: /data
          name: storage
          subPath: null
      initContainers: []
      nodeSelector: {}
      securityContext: {}
      serviceAccountName: enterprise-metrics
      terminationGracePeriodSeconds: 180
      tolerations: []
      volumes:
      - name: config
        secret:
          secretName: enterprise-metrics
      - configMap:
          name: enterprise-metrics-runtime
        name: runtime-config
      - name: license
        secret:
          secretName: enterprise-metrics-license
      - emptyDir: {}
        name: storage
