# -----------------------------------------
# Configuration for `enterprise-logs` chart
# -----------------------------------------

# -- Overrides the chart's name
nameOverride: null

# -- Overrides the chart's computed fullname
fullnameOverride: null

# -- Definition of the Docker image for Grafana Enterprise Logs
# If the image block is overwritten in a custom values file, it is also
# required to update the values in the `loki-distributed.loki.image` block.
# This can be done by copying the values, or like here, by using an anchor and
# a pointer.
image: &image
  # -- The container registry to use
  registry: docker.io
  # -- The image repository to use
  repository: grafana/enterprise-logs
  # -- The version of Grafana Enterprise Logs
  tag: v1.5.2
  # -- Defines the policy how and when images are pulled
  pullPolicy: IfNotPresent
  # -- Additional image pull secrets
  pullSecrets: []

# -- Definition of the ServiceAccount for containers
# Any additional configuration of the ServiceAccount has to be done in
# `loki-distributed.serviceAccount`.
serviceAccount:
  # -- Specifies whether a ServiceAccount should be created
  # If this value is changed to `false`, it also needs to be reflected in
  # `loki-distributed.serviceAccount.create`.
  create: true

# -- External config.yaml
# A GEL configuration file may be provided as Kubernetes Secret outside of this Helm chart.
useExternalConfig: false
externalConfigName: enterprise-logs-config
externalConfigVersion: "0"

# -- External license.jwt
# A GEL license file may be provided as Kubernetes Secret outside of this Helm chart.
useExternalLicense: false
externalLicenseName: enterprise-logs-license
externalLicenseVersion: "0"

# -- Grafana Enterprise Logs license
# In order to use Grafana Enterprise Logs features, you will need to provide
# the contents of your Grafana Enterprise Logs license, either by providing the
# contents of the license.jwt, or the name Kubernetes Secret that contains your
# license.jwt.
# To set the license contents, use the flag `--set-file 'license.contents=./license.jwt'`
license:
  contents: "NOTAVALIDLICENSE"

# -- Grafana Enterprise Logs configuration file
config: |
  auth:
    type: enterprise
  auth_enabled: true

  license:
    path: /etc/enterprise-logs/license/license.jwt

  cluster_name: {{ .Release.Name }}

  server:
    http_listen_port: 3100
    grpc_listen_port: 9095

  {{- if .Values.commonConfig}}
  common:
  {{- toYaml .Values.commonConfig | nindent 2}}
  {{- end}}

  admin_client:
    storage:
      s3:
        bucket_name: enterprise-logs-admin

  ingester:
    chunk_idle_period: 30m
    chunk_block_size: 262144
    chunk_encoding: snappy
    chunk_retain_period: 1m

  ingester_client:
    grpc_client_config:
      max_recv_msg_size: 104857600
      max_send_msg_size: 104857600

  limits_config:
    enforce_metric_name: false
    reject_old_samples: true
    reject_old_samples_max_age: 168h
    max_cache_freshness_per_query: 10m
    split_queries_by_interval: 24h

  frontend:
    log_queries_longer_than: 10s
    compress_responses: true
    tail_proxy_url: http://{{ include "loki.querierFullname" . }}:3100

  frontend_worker:
    frontend_address: {{ include "loki.queryFrontendFullname" . }}:9095

  memberlist:
    join_members:
      - {{ include "loki.fullname" . }}-memberlist

  querier:
    query_ingesters_within: 12h

  query_range:
    align_queries_with_step: true
    cache_results: true
    results_cache:
      cache:
        memcached:
          expiration: 1h
        memcached_client:
          timeout: 1s

  schema_config:
    configs:
      - from: 2021-01-01
        store: boltdb-shipper
        object_store: aws
        schema: v11
        index:
          prefix: index_
          period: 24h

  storage_config:
    aws:
      bucketnames: enterprise-logs-tsdb
    boltdb_shipper:
      index_gateway_client:
        server_address: dns:///{{ include "loki.indexGatewayFullname" . }}:9095

  ruler:
    storage:
      s3:
        bucketnames: enterprise-logs-ruler

  {{- if .Values.additionalConfig}}
  {{.Values.additionalConfig}}
  {{- end}}

# Append some additional config to the default config. Expects a string or `null`
additionalConfig: null

# -- Check https://grafana.com/docs/loki/latest/configuration/#common_config for more info on how to provide a common configuration
commonConfig:
  path_prefix: /var/loki
  replication_factor: 3
  storage:
    s3:
      endpoint: '{{ include "enterprise-logs.minio" . }}'
      bucketnames: enterprise-logs-tsdb
      secret_access_key: supersecret
      access_key_id: enterprise-logs
      s3forcepathstyle: true
      insecure: true

# -- Structured GEL configuration, takes precedence over `loki.config`, `loki.schemaConfig`, `loki.storageConfig`
structuredConfig: {}

# -- Configuration for `tokengen` target
tokengen:
  # -- Whether the job should be part of the deployment
  enable: true
  # -- hostAliases to add
  hostAliases: []
  #  - ip: 1.2.3.4
  #    hostnames:
  #      - domain.tld
  # -- Additional CLI arguments for the `tokengen` target
  extraArgs: {}
  # -- Additional Kubernetes environment
  env: []
  # -- Additional labels for the `tokengen` Job
  labels: {}
  # -- Additional annotations for the `tokengen` Job
  annotations: {}
  # -- Additional volumes for Pods
  extraVolumes: []
  # -- Additional volume mounts for Pods
  extraVolumeMounts: []
  # -- Run containers as user `enterprise-logs(uid=10001)`
  podSecurityContext:
    runAsNonRoot: true
    runAsGroup: 10001
    runAsUser: 10001
    fsGroup: 10001
  containerSecurityContext:
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
    allowPrivilegeEscalation: false

# -- Configuration for the `admin-api` target
adminApi:
  # -- Define the amount of instances
  replicas: 1
  # -- hostAliases to add
  hostAliases: []
  #  - ip: 1.2.3.4
  #    hostnames:
  #      - domain.tld
  # -- Additional CLI arguments for the `admin-api` target
  extraArgs: {}
  # -- Additional labels for the `admin-api` Deployment
  labels: {}
  # -- Additional annotations for the `admin-api` Deployment
  annotations: {}
  # -- Additional labels and annotations for the `admin-api` Service
  service:
    labels: {}
    annotations: {}
  # -- Run container as user `enterprise-logs(uid=10001)`
  # `fsGroup` must not be specified, because these security options are applied
  # on container level not on Pod level.
  podSecurityContext:
    runAsNonRoot: true
    runAsGroup: 10001
    runAsUser: 10001
  containerSecurityContext:
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
    allowPrivilegeEscalation: false

  strategy:
    type: RollingUpdate

  env: []

  persistence:
    subPath:

  livenessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    initialDelaySeconds: 45

  readinessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    initialDelaySeconds: 45

  # -- Request and limit Kubernetes resources
  # -- Values are defined in small.yaml and large.yaml
  resources: {}

  initContainers: []
  extraContainers: []

  # -- Additional volumes for Pods
  extraVolumes: []
  # -- Additional volume mounts for Pods
  extraVolumeMounts: []

  # -- Affinity for admin-api Pods
  affinity: {}
  # -- Node selector for admin-api Pods
  nodeSelector: {}
  # -- Tolerations for admin-api Pods
  tolerations: []
  # -- Grace period to allow the admin-api to shutdown before it is killed
  terminationGracePeriodSeconds: 60

# -- Configuration for the `gateway` target
gateway:
  # -- Define the amount of instances
  replicas: 1
  # -- hostAliases to add
  hostAliases: []
  #  - ip: 1.2.3.4
  #    hostnames:
  #      - domain.tld
  # -- Additional CLI arguments for the `gateway` target
  extraArgs: {}
  # -- Additional labels for the `gateway` Pod
  labels: {}
  # -- Additional annotations for the `gateway` Pod
  annotations: {}
  # -- Additional labels and annotations for the `gateway` Service
  # -- Service overriding service type
  service:
    type: ClusterIP
    labels: {}
    annotations: {}
  # -- Run container as user `enterprise-logs(uid=10001)`
  podSecurityContext:
    runAsNonRoot: true
    runAsGroup: 10001
    runAsUser: 10001
    fsGroup: 10001
  containerSecurityContext:
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
    allowPrivilegeEscalation: false

  # If you want to use your own proxy URLs, set this to false.
  useDefaultProxyURLs: true

  strategy:
    type: RollingUpdate

  livenessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    initialDelaySeconds: 45

  readinessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    initialDelaySeconds: 45

  # -- Request and limit Kubernetes resources
  # -- Values are defined in small.yaml and large.yaml
  resources: {}

  env: []

  persistence:
    subPath:

  initContainers: []
  extraContainers: []

  # -- Additional volumes for Pods
  extraVolumes: []
  # -- Additional volume mounts for Pods
  extraVolumeMounts: []

  # -- Affinity for gateway Pods
  affinity: {}
  # -- Node selector for gateway Pods
  nodeSelector: {}
  # -- Tolerations for gateway Pods
  tolerations: []
  # -- Grace period to allow the gateway to shutdown before it is killed
  terminationGracePeriodSeconds: 60


# -- Configuration for the `compactor` target
compactor:
  # -- Define the amount of instances
  replicas: 1
  # -- hostAliases to add
  hostAliases: []
  #  - ip: 1.2.3.4
  #    hostnames:
  #      - domain.tld
  # -- Additional CLI arguments for the `compactor` target
  extraArgs: {}
  # -- Additional labels for the `compactor` Pod
  labels: {}
  # -- Additional annotations for the `compactor` Pod
  annotations: {}
  # -- Additional labels and annotations for the `compactor` Service
  service:
    labels: {}
    annotations: {}
  # -- Run containers as user `enterprise-logs(uid=10001)`
  podSecurityContext:
    runAsNonRoot: true
    runAsGroup: 10001
    runAsUser: 10001
    fsGroup: 10001
  containerSecurityContext:
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
    allowPrivilegeEscalation: false

  strategy:
    type: RollingUpdate

  # -- Request and limit Kubernetes resources
  # -- Values are defined in small.yaml and large.yaml
  resources: {}

  persistentVolume:
    # If true compactor will create/use a Persistent Volume Claim
    # If false, use emptyDir
    #
    enabled: true
    # compactor data Persistent Volume Claim annotations
    #
    annotations: {}
    # compactor data Persistent Volume access modes
    # Must match those of existing PV or dynamic provisioner
    # Ref: http://kubernetes.io/docs/user-guide/persistent-volumes/
    #
    accessModes:
      - ReadWriteOnce
    # compactor data Persistent Volume size
    #
    size: 2Gi
    # compactor data Persistent Volume Storage Class
    # If defined, storageClassName: <storageClass>
    # If set to "-", storageClassName: "", which disables dynamic provisioning
    # If undefined (the default) or set to null, no storageClassName spec is
    #   set, choosing the default provisioner.  (gp2 on AWS, standard on
    #   GKE, AWS & OpenStack)
    #
    # storageClass: "-"

  livenessProbe:
    failureThreshold: 20  # 10 minutes failure threshold
    httpGet:
      path: /ready
      port: http-metrics
      scheme: HTTP
    initialDelaySeconds: 180
    periodSeconds: 30
    successThreshold: 1
    timeoutSeconds: 1

  readinessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    initialDelaySeconds: 60

  env: []

  initContainers: []
  extraContainers: []

  # -- Additional volumes for Pods
  extraVolumes: []
  # -- Additional volume mounts for Pods
  extraVolumeMounts: []

  # -- Affinity for compactor Pods
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: target
                  operator: In
                  values:
                    - compactor
            topologyKey: 'kubernetes.io/hostname'
  # -- Node selector for compactor Pods
  nodeSelector: {}
  # -- Tolerations for compactor Pods
  tolerations: []
  # -- Grace period to allow the compactor to shutdown before it is killed
  terminationGracePeriodSeconds: 300


# ------------------------------------------------
# Configuration for `loki-distributed` child chart
# ------------------------------------------------
loki-distributed:
  # -- In order to have consistent Pod names for both pods from the enterprise-logs and loki-distributed chart, we override the name of the child chart to match the name of the parent chart.
  nameOverride: enterprise-logs

  # -- Definition of the ServiceAccount for containers
  serviceAccount:
    # -- Specifies whether a ServiceAccount should be created
    create: true
    # -- The name of the ServiceAccount to use.
    # If not set and create is true, a name is generated using the fullname template
    name: null
    # -- Image pull secrets for the service account
    imagePullSecrets: []
    # -- Annotations for the service account
    annotations: {}
    # -- Set this toggle to false to opt out of automounting API credentials for the service account
    automountServiceAccountToken: true

  # RBAC configuration
  rbac:
    # -- If pspEnabled true, a PodSecurityPolicy is created for K8s that use psp. Disable due to deprecated since k8s v1.25.
    pspEnabled: false
    # -- For OpenShift set pspEnabled to 'false' and sccEnabled to 'true' to use the SecurityContextConstraints.
    sccEnabled: false

  # -- Compactor is defined in parent chart
  compactor:
    enabled: false

  # -- Gateway is defined in parent chart
  gateway:
    enabled: false

  # -- Table manager is not needed because we use boltdb-shipper and compactor
  tableManager:
    enabled: false

  # -- Configuration for the `ruler` target
  ruler:
    enabled: true
    extraVolumes:
      # -- Create license volume from license secret
      - name: license
        secret:
          secretName: enterprise-logs-license
    extraVolumeMounts:
      # -- Mount the license volume
      - name: license
        mountPath: /etc/enterprise-logs/license

  # -- Configuration for the `ingester` target
  ingester:
    enabled: true
    extraVolumes:
      # -- Create license volume from license secret
      - name: license
        secret:
          secretName: enterprise-logs-license
    extraVolumeMounts:
      # -- Mount the license volume
      - name: license
        mountPath: /etc/enterprise-logs/license
    replicas: 3

  # -- Configuration for the `distributor` target
  distributor:
    enabled: true
    extraVolumes:
      # -- Create license volume from license secret
      - name: license
        secret:
          secretName: enterprise-logs-license
    extraVolumeMounts:
      # -- Mount the license volume
      - name: license
        mountPath: /etc/enterprise-logs/license

  # -- Configuration for the `querier` target
  querier:
    enabled: true
    extraVolumes:
      # -- Create license volume from license secret
      - name: license
        secret:
          secretName: enterprise-logs-license
    extraVolumeMounts:
      # -- Mount the license volume
      - name: license
        mountPath: /etc/enterprise-logs/license
    persistence:
      enabled: true

  # -- Configuration for the `query-frontend` target
  queryFrontend:
    enabled: true
    extraVolumes:
      # -- Create license volume from license secret
      - name: license
        secret:
          secretName: enterprise-logs-license
    extraVolumeMounts:
      # -- Mount the license volume
      - name: license
        mountPath: /etc/enterprise-logs/license

  # -- Configuration for the `index-gateway` target
  indexGateway:
    enabled: true
    extraVolumes:
      # -- Create license volume from license secret
      - name: license
        secret:
          secretName: enterprise-logs-license
    extraVolumeMounts:
      # -- Mount the license volume
      - name: license
        mountPath: /etc/enterprise-logs/license
    persistence:
      enabled: true

  loki:
    config: null
    existingSecretForConfig: enterprise-logs-config
    image: *image


# -------------------------------------
# Configuration for `minio` child chart
# -------------------------------------
minio:
  enabled: true
  accessKey: enterprise-logs
  secretKey: supersecret
  buckets:
    - name: enterprise-logs-tsdb
      policy: none
      purge: false
    - name: enterprise-logs-admin
      policy: none
      purge: false
    - name: enterprise-logs-ruler
      policy: none
      purge: false
  persistence:
    size: 5Gi
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
  # -- Change the mc config path to '/tmp' from '/etc' as '/etc' is only writable by root
  configPathmc: "/tmp/minio/mc/"
