{{- if .Values.memcachedIndexQueries.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "loki.memcachedIndexQueriesFullname" . }}
  labels:
    {{- include "loki.memcachedIndexQueriesLabels" . | nindent 4 }}
  {{- with .Values.loki.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.memcachedIndexQueries.replicas }}
  updateStrategy:
    rollingUpdate:
      partition: 0
  serviceName: {{ include "loki.memcachedIndexQueriesFullname" . }}
  revisionHistoryLimit: {{ .Values.loki.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "loki.memcachedIndexQueriesSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- if or .Values.loki.podAnnotations .Values.memcachedIndexQueries.podAnnotations }}
      annotations:
        {{- with .Values.loki.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.memcachedIndexQueries.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
      labels:
        {{- include "loki.memcachedIndexQueriesSelectorLabels" . | nindent 8 }}
        {{- with .Values.loki.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.memcachedIndexQueries.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "loki.serviceAccountName" . }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- include "loki.memcachedIndexQueriesPriorityClassName" . | nindent 6 }}
      securityContext:
        {{- toYaml .Values.memcached.podSecurityContext | nindent 8 }}
      terminationGracePeriodSeconds: {{ .Values.memcachedIndexQueries.terminationGracePeriodSeconds }}
      containers:
        - name: memcached
          image: {{ include "loki.memcachedImage" . }}
          imagePullPolicy: {{ .Values.memcached.image.pullPolicy }}
          {{- with .Values.memcachedIndexQueries.extraArgs }}
          args:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: 11211
              protocol: TCP
          {{- with .Values.memcachedIndexQueries.extraEnv }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.memcachedIndexQueries.extraEnvFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            {{- toYaml .Values.memcached.containerSecurityContext | nindent 12 }}
          readinessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 5
            timeoutSeconds: 1
          resources:
            {{- toYaml .Values.memcachedIndexQueries.resources | nindent 12 }}
        {{- if .Values.memcachedExporter.enabled }}
        - name: exporter
          args:
            - --memcached.address=localhost:11211
            - --web.listen-address=0.0.0.0:9150
          image: {{ include "loki.memcachedExporterImage" . }}
          imagePullPolicy: {{ .Values.memcachedExporter.image.pullPolicy }}
          ports:
            - name: http-metrics
              containerPort: 9150
              protocol: TCP
          resources:
            {{- toYaml .Values.memcachedExporter.resources | nindent 12 }}
        {{- end }}
        {{- if .Values.memcachedIndexQueries.extraContainers }}
        {{- toYaml .Values.memcachedIndexQueries.extraContainers | nindent 8}}
        {{- end }}
      {{- with .Values.memcachedIndexQueries.affinity }}
      affinity:
        {{- tpl . $ | nindent 8 }}
      {{- end }}
      {{- with .Values.memcachedIndexQueries.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.memcachedIndexQueries.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
