on:
  push:
    branches:
      - 'main'
    paths:
      - 'README.md'
permissions: {}
jobs:
  build:
    permissions:
      contents: write # for git push

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - run: |
          cp -f README.md ${{ runner.temp }}/README.md
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: gh-pages
          persist-credentials: false
      - run: |
          cp -f ${{ runner.temp }}/README.md .
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add README.md
          git commit --signoff -m "Sync README from main"
          git push
